// Your custom styles
@font-face {
	font-family: 'droid_serifitalic';
	src: url('../font/DroidSerif-Italic.eot');
	src: url('../font/DroidSerif-Italic.eot?#iefix') format('embedded-opentype'),
	url('../font/DroidSerif-Italic.woff2') format('woff2'),
	url('../font/DroidSerif-Italic.woff') format('woff'),
	url('../font/DroidSerif-Italic.ttf') format('truetype'),
	url('../font/DroidSerif-Italic.svg#droid_serifitalic') format('svg');
	font-weight: normal;
	font-style: normal;
	
}

@font-face {
	font-family: 'gibsonlight';
	src: url('../font/Gibson-Light.eot');
	src: url('../font/Gibson-Light.eot?#iefix') format('embedded-opentype'),
	url('../font/Gibson-Light.woff2') format('woff2'),
	url('../font/Gibson-Light.woff') format('woff'),
	url('../font/Gibson-Light.ttf') format('truetype'),
	url('../font/Gibson-Light.svg#gibsonlight') format('svg');
	font-weight: normal;
	font-style: normal;
	
}

@font-face {
	font-family: 'gibsonsemibold';
	src: url('../font/Gibson-SemiBold.eot');
	src: url('../font/Gibson-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../font/Gibson-SemiBold.woff2') format('woff2'),
	url('../font/Gibson-SemiBold.woff') format('woff'),
	url('../font/Gibson-SemiBold.ttf') format('truetype'),
	url('../font/Gibson-SemiBold.svg#gibsonsemibold') format('svg');
	font-weight: normal;
	font-style: normal;
	
}

@font-face {
	font-family: 'gibsonregular';
	src: url('../font/Gibson.eot');
	src: url('../font/Gibson.eot?#iefix') format('embedded-opentype'),
	url('../font/Gibson.woff2') format('woff2'),
	url('../font/Gibson.woff') format('woff'),
	url('../font/Gibson.ttf') format('truetype'),
	url('../font/Gibson.svg#gibsonregular') format('svg');
	font-weight: normal;
	font-style: normal;
	
}


main {
	min-height:78.4vh;
}


//.view {
//	height: 100%;
//}

///* Navbar animation */
//.navbar {
//	background-color: #FDB913; //rgba(0, 0, 0, 0.2);
//}
//
//.top-nav-collapse {
//	background-color: #FDB913;;
//}
//
///* Adding color to the Navbar on mobile */
//@media only screen and (max-width: 768px) {
//	.navbar {
//		background-color: #FDB913;;
//	}
//}

/* Footer color for sake of consistency with Navbar */
.page-footer {
	background-color: #e0e0e0;;
}

.gibson-bold{
	font-family: gibsonsemibold;
	letter-spacing: 1.5px;
	font-weight: normal;
}

.gibson{
	font-family: gibsonregular;
	font-weight: normal;
}

.dropdown:hover > .dropdown-menu {
	display: block;
}
.dropdown > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}







.arrow {
	//text-align: center;
	//position: absolute;
	//bottom: 30px;
	//left: 50%;
	//margin: 0;
	//margin-left: 20px;
	
	position: absolute;
	top: 90vh;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-decoration: none;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}


.color-yellow-dark{
	color: #FDB913 !important;
}

.bg-yellow-dark{
	background-color: #FDB913 !important;
}

.color-yellow{
	color: #FFDD00 !important;
}

.bg-yellow{
	background-color: #FFDD00 !important;
}

.color-yellow-light{
	color: #FFF32A !important;
}

.bg-yellow-light{
	background-color: #FFF32A !important;
}

.color-yellow-dark{
	color: #FDB913 !important;
}


.color-blue-dark{
	color: #020f50 !important;
}

.bg-blue-dark{
	background-color: #020f50 !important;
}

.color-blue{
	color: #1E398D !important;
}

.bg-blue{
	background-color: #1E398D !important;
}

.color-blue-light{
	color: #034EA2 !important;
}

.bg-blue-light{
	background-color: #034EA2 !important;
}

.color-blue-extra-light{
	color: #00AEEF !important;
}

.bg-blue-extra-light{
	background-color: #00AEEF !important;
}


.color-green-dark{
	color: #00793F !important;
}

.bg-green-dark{
	background-color: #00793F !important;
}

.color-green{
	color: #2DA44A !important;
}

.bg-green{
	background-color: #2DA44A !important;
}

.color-green-light{
	color: #72BF44 !important;
}

.bg-green-light{
	background-color: #72BF44 !important;
}

.color-gray-dark{
	color: lighten(#000, 80%) !important;
}

.bg-gray-dark{
	background-color: lighten(#000, 80%) !important;
}

.color-gray{
	color: lighten(#000, 70%) !important;
}

.bg-gray{
	background-color: lighten(#000, 70%) !important;
}

.color-gray-light{
	color: lighten(#000, 40%) !important;
}

.bg-gray-light{
	background-color: lighten(#000, 40%) !important;
}



#section-events
{
	//margin-top: 320px;
	padding: 30px 20px;
	background:url('http://photosmilephotos.com/wp-content/uploads/2015/04/Corporate-Events-Cancun-597-background-30-opacity1.jpg') no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#section-internal-rules
{
	//margin-top: 320px;
	padding: 80px 20px;
	background:url('https://juristas.com.br/wp-content/uploads/2018/06/judge-gavel-and-law-book-on-a-black-wooden-background-law-library-picture-id947152444.jpg') no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#section-map{
	//margin-top: 320px;
	padding: 0;
	margin: 0;
	//background:url('http://photosmilephotos.com/wp-content/uploads/2015/04/Corporate-Events-Cancun-597-background-30-opacity1.jpg') no-repeat center bottom fixed;
	//-webkit-background-size: cover;
	//-moz-background-size: cover;
	//background-size: cover;
	//-o-background-size: cover;
}

.custom-avatar{
	width: 200px;
	height: 200px;
	-webkit-border-radius: 200px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 200px;
	-moz-background-clip: padding;
	border-radius: 200px;
	background-clip: padding-box;
	background-size: cover;
	background-position: center center;
}

.accordion.md-accordion.accordion-5 .card .card-header {
	background-color: lighten(#000, 70%);
	-webkit-transition: .3s;
	transition: .3s;
}


@media (min-width: 800px) and (max-width: 850px) {
	.navbar:not(.top-nav-collapse) {
		//background: #1C2331 !important;
	}
}

@media (max-width: 860px){
	.arrow {
		top: 80vh;
	}
}

@media (min-width: 992px){
	.img-mobile {
		display: block;
	}
	.img-desktop {
		display: none;
	}
}

@media (max-width: 992px){
	.img-mobile {
		display: none;
	}
	.img-desktop {
		display: block;
	}
}



#map-container { width:100%; }


.campaigns > .swiper-slide
{
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
}
.swiper-container
{
   width: 100%;
   height: 100%;
}


//body.pace-running:before {
//	content: "";
//	position: fixed;
//	top: 0;
//	left: 0;
//	bottom: 0;
//	right: 0;
//	z-index: 1500;
//	background-color: rgba(0, 0, 0, 0.3);
//}
//
//// For a nice fade-in:
//body:before {
//	background-color: rgba(0, 0, 0, 0);
//	-webkit-transition: background-color 200ms;
//	-moz-transtition: background-color 200ms;
//	-ms-transition: background-color 200ms;
//	-o-transition: background-color 200ms;
//	transition: background-color 200ms;
//}

/* Required for full background image */




//.view {
//	height: 100%;
//}
//
//@media (max-width: 740px) {
//
//	.view {
//		height: 1000px;
//	}
//}
//@media (min-width: 800px) and (max-width: 850px) {
//
//	.view {
//		height: 650px;
//	}
//}
//
//.top-nav-collapse {
//	background-color: #3f51b5 !important;
//}
//
//.navbar:not(.top-nav-collapse) {
//	background: transparent !important;
//}
//
//@media (max-width: 991px) {
//	.navbar:not(.top-nav-collapse) {
//		background: #3f51b5 !important;
//	}
//}
//
//.rgba-gradient {
//	background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
//	background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)));
//	background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
//}
//
//.card {
//	background-color: rgba(126, 123, 215, 0.2);
//}
//
//.md-form label {
//	color: #ffffff;
//}
//
//h6 {
//	line-height: 1.7;
//}


/*
|--------------------------------------------------------------------------
| DROPZONE
|--------------------------------------------------------------------------
|
| Style to all dropzones
|
*/

.dropzone{
	background: #efefef;
	background-size: 100%;
	color: #000;
	font-size: 20px;
	align-items: center;
	display: flex;
	margin: 0 auto;
	height: 250px ;
	padding: 0;
	
	&.with-error{
		border-color: #ff0000 !important;
	}
	
	&.dz-started {
		
		& .dz-default.dz-message {
			display: none !important;
		}
	}
	
	& .dz-default.dz-message {
		vertical-align: middle;
		font-size: 16px;
		overflow: hidden;
		display: inline-block;
		text-align: center;
		width: 100%;
	}
	
	& .dz-preview{
		
		& .dz-image {
			
			& img {
				display: block;
			}
		}
		
		& .dz-remove{
			font-size: 16px;
			text-align: center;
			cursor: pointer;
			color: white;
			width: 30px;
			height: 30px;
			background: #f44336;
			border-radius: 20px;
			padding: 4px 8px;
			position: absolute !important;
			bottom: 0px;
			right: 10%;
			margin-right: -15px;
			display: block;
			z-index: 20 !important;
			
			&:hover{
				text-decoration: none;
				background: darken(#f44336, 20%);
			}
			
			&:before {
				font-family: FontAwesome;
				content: "\f014";
			}
			
			&.dz-sending{
				background: darken(#F1E05A, 10%);
				
				&:before {
					font-family: FontAwesome;
					content: "\f256";
				}
			}
		}
	}
}

/*
|--------------------------------------------------------------------------
| DROPZONE SQUARE
|--------------------------------------------------------------------------
|
| Style to dropzone with class drop-square
|
*/

.drop-square{
	width: 300px;
	min-width: 120px;
	min-height: 120px;
	border: 2px dotted #ccc !important;
	
	& .dz-preview{
		width: 90%;
		height: 90%;
		padding: 0;
		margin: 5%;
		
		max-width: 200px;
		max-height: 200px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 14px;
		
		& .dz-image {
			width: auto;
			height: 100%;
			border-radius: 8px;
			
			& img {
				width: 92%;
				height: 92%;
				margin: 4%;
				border-radius: 14px;
			}
		}
		
		& .dz-remove{
			right: 7px;
			bottom: -7px;
		}
	}
}


/*
|--------------------------------------------------------------------------
| DROPZONE ROUNDED
|--------------------------------------------------------------------------
|
| Style to dropzone with class drop-rounded
|
*/

.drop-rounded{
	border-radius: 100%;
	max-width: 200px;
	max-height: 200px;
	width: 90%;
	min-width: 120px;
	min-height: 120px;
	border: 2px dotted #ccc !important;
	
	& .dz-preview{
		border-radius: 100%;
		width: 90%;
		height: 90%;
		padding: 0;
		margin: 5%;
		
		& .dz-image {
			border-radius: 100%;
			width: auto;
			height: 100%;
			
			& img {
				width: 100% !important;
				height: 100% !important;
				padding: 0;
				margin: 0;
			}
		}
	}
}

/*
|--------------------------------------------------------------------------
| DROPZONE MULTIPLE
|--------------------------------------------------------------------------
|
| Style to dropzone with class drop-multiple
|
*/

.drop-multiple{
	border: 2px dashed #ccc;
	border-radius: 5px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	min-height: 150px;
	padding: 0px;
	display: inline-block;
	height: auto;
	
	& .dz-default.dz-message {
		padding: 40px;
	}
	
	& .dz-preview{
		position: relative;
		display: inline-block;
		vertical-align: top;
		background-color: transparent !important;
		margin: 16px;
		min-height: 100px;
		
		& .dz-image {
			border-radius: 20px;
			background: white;
			overflow: hidden;
			width: 120px;
			height: 120px;
			position: relative;
			display: block;
			z-index: 10;
			-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.4);
			-moz-box-shadow:    1px 1px 4px 0px rgba(50, 50, 50, 0.4);
			box-shadow:         1px 1px 4px 0px rgba(50, 50, 50, 0.4);
			
			& img {
				display: block;
			}
		}
		
		& .dz-remove{
			border-radius: 20px;
			padding: 4px 8px;
			right: 15px;
			margin-right: -15px;
			bottom: -4px;
		}
	}
}



#slide-out{
	
	& .custom-scrollbar{
		
		& > li{
			
			& a{
				height: 40px;
				line-height: 40px;
				
				//Icons
				& > i.fas:first-child,
				& > i.far:first-child,
				& > i.fa:first-child{
					padding-right: 7px;
					width: 25px;
				}
			}
			
			
		}
	}
}

table.dataTable tbody td {
	vertical-align: middle;
}


#box-positions{
	
	div[data-position]{
		height: 140px;
		border: 1px dotted #D8D8D8;
		font: normal normal 12px Verdana;
		text-align: center;
		margin-bottom: 10px;
		padding-top: 40px;
		
		& > p{
			position: absolute;
			top: 0;
			min-height: 40px;
			display: inline-block;
			left: 0;
			width: 100%;
			background: #F7F7F7;
		}
	}
}